{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block nav %}
    {% include 'partial/nav.html' %}
{% endblock %}



{% block content %}
    {% if cart %}
        <div class="mt-3">
            <table class="table table-success table-striped">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in cart.items %}
                    <tr>
                        <th scope="row"><a class="mylink" href="{{ value.product.get_absolute_url }}">{{ value.product }}</a></th>
                        <td>{{ value.qty }}</td>
                        <td>{{ value.price|floatformat:2 }}</td>
                        <td>{{ value.total_price|floatformat:2 }}</td>
                        <td>
                            <form action="{% url 'productsapp:shopping_cart_delete_view' key %}" method="GET">
                                <button type="submit" class="btn btn-info">Удалить</button>
                                <br>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                <tr class="table-danger">
                    <th scope="row">ИТОГО: {{ total|floatformat:2 }} сом</th>
                </tr>
                </tbody>
            </table>
        </div>

        {#    <div class="container">#}
        {#        <form method="post">#}
        {#            {% include 'partial/form.html' with button_text='Заказать' %}#}
        {#        </form>#}
        {#    </div>#}
    {% else %}
        <br>
        <h3>Корзина пуста</h3>
    {% endif %}
{% endblock %}