{% extends 'base.html' %}

{% block title %}Товар{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "product_update" product.pk %}">Редактировать</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'product_delete' product.pk %}">Удалить</a>
    </li>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Товар</th>
            <th scope="col">Цена</th>
            <th scope="col">Категория</th>
            <th scope="col">Остаток</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ product.name.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.get_category_display}}</td>
                <td>{{ product.balance}}</td>
            </tr>
        </tbody>
    </table>
    {% if product.description %}
    <h5>Описание:</h5>
    <p><pre>{{ product.description }}</pre></p>
    {% endif %}
{% endblock %}