{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
    <div class="container">
        <h2>Вы уверены что хотите удалить товар: "{{ product.name }}"?</h2><br>
        <form action="{% url 'productsapp:product_delete' product.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Удалить</button><br>
            <br><p><a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Не удалять</a></p>
        </form>
    </div>
{% endblock %}