{% if perms.productsapp.add_product %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'productsapp:product_add' %}">Добавить товар</a>
    </li>
{% endif %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Категории
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for category in categories %}
            <li><a class="dropdown-item"
                   href="{% url 'productsapp:products_category' category.0 %}">{{ category.1 }}</a></li>
        {% endfor %}
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'productsapp:shopping_cart_view' %}">Корзина</a>
</li>

{% if user.is_authenticated %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'productsapp:user_orders_view'%}">Заказы</a>
</li>
{% endif %}
