<br>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Товар</th>
        <th scope="col">Цена</th>
        <th scope="col">Категория</th>
        <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td><a class="mylink" href="{{ product.get_absolute_url }}">{{ product.name.title }}</a></td>
            <td>{{ product.price }}</td>
            <td><a class="mylink"
                   href="{% url 'products_category' product.category %}">{{ product.get_category_display }}</a></td>
            <td><a href="{% url "product_update" product.pk %}" class="mylink"><i
                    class="bi bi-pencil-square" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Редактировать"></i></a>
                &nbsp;<a class="mylink" href="{% url 'product_delete' product.pk %}"><i class="bi bi-trash"
                                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                                   title="Удалить"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
